.app {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  background: #f1f1f1;
  min-height: 100vh;
}

.game-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.hand-container {
  background: white;
  /* align-items: center; */
  padding: 1rem;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #333;
}
h1 {
  font-size: 4rem;
  display: inline-block;
  position: relative;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

h1 span {
  display: inline;
}
h1 span:not(:last-of-type) {
  background: linear-gradient(to bottom, #444, #000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h1 span.red-gradient {
  background: linear-gradient(to bottom, #e06666, #a80000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* h1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
} */
.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: white; White background like the built-in alert */
  background: linear-gradient(to bottom, #e06666, #a80000);
  color: black; /* Black text color */
  padding: 40px 60px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 10px; /* Slightly rounded corners */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
  text-align: center; /* Center-align the text */
  z-index: 1000; /* Ensure it appears above other elements */
  font-size: 25px; /* Standard font size */
  font-family: Arial, sans-serif; /* Match the default alert font */
  z-index: 1000;
}
.alert::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Apply the glossy effect to the top half */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
  border-radius: 5px; /* Match the border-radius of the alert box */
  pointer-events: none; /* Ensure it doesn't block interactions */
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black; /* Light gray color */
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  /* border: 1px solid black; */
  background: none;
  margin-right: 25x;
  /* padding: 1px; */
}

.closebtn:hover {
  color: #aaa;
}
