.hand {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.cards-container {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
}
h3 {
  margin-bottom: 1rem;
  text-align: center;
}
